.popup__save-button {
  display: block;
  margin: 46px auto 0 auto;
  width: 83%;
  background: #000000;
  color: #fff;
  border: 0;
  min-height: 50px;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  transition: opacity 0.2s;
  cursor: pointer;
}

.popup__save-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 580px) {
  .popup__save-button {
    font-size: 14px;
    line-height: 17px;
  }
}